@use '../global/variables' as v;

.aboutMain{
    padding: 60px 0;

    &__image{ 
        height: 450px;
        margin: 0 0 80px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        margin: 0 0 100px;

        h3{
            font-size: 46px;
            line-height: 50px;
            color: v.$fontblack;
            font-weight: 300;
            font-family: 'Portrait', sans-serif;
            margin: 0;
            text-align: right;
        }
    }
    &__boxes{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 0 160px;

        .box{
            width: 100%;
            max-width: 320px;

            h3{
                font-size: 32px;
                line-height: 40px;
                color: v.$gold_light;
                font-family: 'Portrait', sans-serif;
                font-weight: 400;
                margin: 0 0 20px;
                text-align: left;
                text-transform: uppercase;
            }
            p{
                font-size: 14px;
                line-height: 24px;
                color: #484848;
                margin: 0;
                text-align: left;
            }
        }
    }
}
@media (max-width: 1249px){
    .aboutMain{
        &__boxes{
            margin: 0 0 100px;
        }
    }
}
@media (max-width: 991px){
    .aboutMain{
        &__image{
            margin: 0 0 50px;
        }
        &__content{
            margin: 0 0 80px;

            h3{
                font-size: 36px;
                line-height: 40px;
            }
        }
        &__boxes{
            flex-wrap: wrap;

            .box{
                width: calc(100% / 2 - 10px);
                max-width: none;
                margin: 0 0 30px;

                &:last-of-type{
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 767px){
    .aboutMain{
        &__image{
            height: 320px;
            margin: 0 0 30px;
        }
        &__content{
            margin: 0 0 50px;

            h3{
                font-size: 26px;
                line-height: 32px;
            }
        }
        &__boxes{
            flex-wrap: nowrap;
            flex-direction: column;
            margin: 0 0 40px;

            .box{
                width: 100%;
            }
        }
    }
}
@media (max-width: 575px){
    .aboutMain{
        &__content{
            padding: 0 20px;

            h3{
                font-size: 21px;
                line-height: 26px;
                
                br{
                    display: none;
                }
            }
        }
        &__boxes{
            padding: 0 20px;

            .box{
                h3{
                    font-size: 21px;
                    line-height: 28px;
                    margin: 0 0 10px;
                }
                p{
                    font-size: 13px;
                    line-height: 21px;
                }
            }
        }
    }
}

.aboutOwner{
    padding: 0 0 172px;
    
    &__wrap{
        background-color: #f9f7f5;
        padding: 100px 45px 100px 0;
        display: flex;
        justify-content: space-between;
        max-width: 930px;
        position: relative;

        &:after{
            content: 'Who I am';
            font-size: 60px;
            line-height: 1;
            font-family: 'Domine', sans-serif;
            font-weight: 400;
            color: v.$gold_light;
            margin: 0;
            position: absolute;
            right: -70px;
            bottom: 6px;
            opacity: .44;
        }
    }
    &__image{
        width: 100%;
        max-width: 390px;

        .image{
            max-width: 100%;
            position: absolute;
            top: 0;
            left: -140px;
        }
    }
    &__content{
        max-width: 480px;

        p{
            &.lead{
                font-size: 17px;
                line-height: 21px;
                font-weight: 500;
                color: v.$gold_light;
                margin: 0 0 30px;
                letter-spacing: 8px;  
                text-transform: uppercase; 
                text-align: center;             
            }
            &.main{
                font-size: 17px;
                line-height: 30px;
                color: v.$fontblack;
                font-family: 'Domine', sans-serif;
                font-weight: 400;
                margin: 0 0 20px;
                text-align: center;

                &:after{
                    content: '';
                    width: 1px;
                    height: 50px;
                    background-color: v.$gold_light;
                    display: block;
                    position: relative;
                    transform: skew(-25deg, 0deg);
                    margin: 15px auto;
                }
            }
            &.content{
                font-size: 14px;
                line-height: 24px;
                color: #484848;
                text-align: left;
                margin: 0;
                padding: 0 8px;
            }
        }
    }
}
@media (max-width: 1249px){
    .aboutOwner{
        &__wrap{
            &:after{
                right: 14px;
                bottom: -24px;
            }
        }
        &__image{
            .image{
                top: 20px;
                left: -20px;
            }
        }
    }
}
@media (max-width: 991px){
    .aboutOwner{
        &__wrap{
            max-width: 720px;
            padding: 40px 30px 70px 0;
        }
        &__image{
            max-width: 290px;

            .image{
                display: block;
                max-width: inherit;
                width: 100%;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &__content{
            max-width: calc(100% - 290px);

            p{
                &.lead{
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 6px;
                    margin: 0 0 20px;
                }
                &.main{
                    br{
                        display: none;
                    }
                    &:after{
                        height: 50px;
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .aboutOwner{
        padding: 0 0 100px;

        &__wrap{
            flex-direction: column;
            padding: 20px 20px 60px;
            max-width: 100%;
        }
        &__image{
            width: 100%;
            max-width: 100%;
            margin: 0 0 30px;

            .image{
                position: relative;
                top: auto;
                left: auto;
                transform: none;
                max-width: 280px;
                margin: 0 auto;
            }
        }
        &__content{
            max-width: 100%;
            width: 100%;

            p{
                &.content{
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 575px){
    .aboutOwner{
        &__wrap{
            &:after{
                bottom: -16px;
                font-size: 40px;
            }
        }
    }
}