@use '../global/variables' as v;

.blogList{
    padding: 60px 0 150px;
    overflow: hidden;

    &__featured{
        margin: 80px 0 180px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        max-width: 1060px;
        margin: 0 auto;
    }
}
@media (max-width: 991px){
    .blogList{
        padding: 40px 0 100px;

        &__featured{
            margin: 80px 0;
        }
    }
}

.blogArticle{
    max-width: 320px;
    width: 100%;
    margin: 0 25px 90px;

    @media (min-width: 1250px){
        &:nth-child(3n-2){
            margin-left: 0;
        }
        &:nth-child(3n-0){
            margin-right: 0;
        }
    }

    &__image{
        display: flex;
        height: 410px;
        margin: 0 0 30px;

        &:hover{
            opacity: .7;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        h2,
        h3,
        h4{
            font-size: 20px;
            line-height: 24px;
            font-family: 'Domine', sans-serif;
            font-weight: 400;
            color: v.$fontblack;
            margin: 0 auto 40px;
            text-align: center;
            max-width: 245px;

            a{
                color: v.$fontblack;

                &:hover{
                    opacity: .7;
                }
            }
        }
    }

    &--small{
        max-width: 250px;

        .blogArticle__image{
            max-width: 100%;
            height: 320px;
        }
        .blogArticle__content{
            max-width: 100%;

            h2,
            h3{
                font-size: 19px;
                line-height: 30px;
                max-width: 100%;
                margin: 0;
            }   
        }
    }
    &--side{
        display: flex;
        margin: 0 0 20px !important;

        &:last-of-type{
            margin: 0 !important;
        }

        .blogArticle__image{
            width: 100%;
            max-width: 100px;
            height: 100px;
            margin: 0;
        }
        .blogArticle__content{
            margin-left: 15px;

            h4{
                font-size: 18px;
                line-height: 24px;
                margin: 0 0 10px;
                text-align: left;
            }
            .created{
                font-size: 13px;
                line-height: 16px;
                color: #484848;
                font-style: italic;
                margin: 0;
                text-align: left;
            }
        }
    }
    &--featured{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 855px;
        width: 100%;
        margin: 0 auto !important;

        .blogArticle__image{
            max-width: 410px;
            width: 100%;
            height: 515px;
            margin: 0;
        }

        .blogArticle__content{
            width: 100%;
            max-width: 320px;

            .lead{
                font-size: 17px;
                line-height: 21px;
                font-weight: 500;
                color: v.$gold_light;
                margin: 0 0 25px;
                letter-spacing: 8px;  
                text-transform: uppercase; 
                text-align: center;  
            }
            h2{
                max-width: none;
                font-size: 25px;
                line-height: 30px;
            }
            .excerpt{
                position: relative;

                &:before{
                    content: '';
                    width: 1px;
                    height: 42px;
                    background-color: v.$gold_light;
                    display: block;
                    position: relative;
                    transform: skew(-25deg, 0deg);
                    margin: 0 auto 20px;
                }

                p{
                    font-size: 12px;
                    line-height: 25px;
                    color: #484848;
                    max-width: 290px;
                    margin: 0 auto;
                    text-align: left;
                }
            }
            .btn{
                margin-top: 40px;
            }
        }
    }
}
@media (max-width: 1249px){
    .blogArticle{
        margin: 0;
        margin-right: 30px;
        margin-bottom: 50px;
        max-width: 280px;

        &:nth-child(3n+0){
            margin-right: 0;
        }

        &__image{
            height: 350px;
        }

        &--featured{
            max-width: 700px;

            .blogArticle__image{
                max-width: 320px;
                width: 100%;
                height: 460px;
            }
        }
        &--small{
            margin-right: 15px;

            .blogArticle__image{
                height: 220px;
                margin: 0 0 20px;
            }
            .blogArticle__content{
                h2{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}
@media (max-width: 991px){
    .blogArticle{
        margin-right: 15px;
        margin-bottom: 50px;
        max-width: 215px;

        &__image{
            height: 260px;
        }
        &__content{
            h2,
            h3,
            h4{
                font-size: 16px;
                line-height: 21px;
            }
        }
        &--featured{
            max-width: 700px;

            .blogArticle__image{
                max-width: 320px;
                width: 100%;
                height: 460px;
            }
            .blogArticle__content{
                h2{
                    margin: 0 0 20px;
                }
            }
        }
        &--small{
            max-width: 100%;
        }
        &--side{
            max-width: 100%;
        }
    }
}
@media (max-width: 767px){
    .blogArticle{
        max-width: calc(100% / 2 - 15px);
        margin-right: 15px !important;

        &:nth-child(2n+0){
            margin-right: 0 !important;
        }

        &--featured{
            max-width: 100%;
            flex-direction: column;

            .blogArticle__image{
                max-width: 100%;
                width: 100%;
                height: 400px;
                margin: 0 0 30px;
            }
            .blogArticle__content{
                max-width: 100%;

                h2{
                    margin: 0 0 20px;
                }
                .excerpt{
                    p{
                        text-align: center;
                    }
                }
                .btn{
                    margin-top: 20px;
                }
            }
        }
    }
}
@media (max-width: 420px){
    .blogArticle{
        max-width: 100%;
        margin-right: 0 !important;

        &__content{
            h2{
                margin: 0 auto 15px;
            }
        }
    }
}

.lastRealizations{
    background-color: #f9f7f5;
    margin: 0 0 150px;
    min-height: 245px;

    &__wrap{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        min-height: inherit;
        top: -30px;
        max-width: 1090px;

        .btn{
            position: absolute;
            right: 15px;
            bottom: -40px;
        }
    }
    &__content{
        max-width: 380px;
        width: 100%;

        h2{
            font-size: 60px;
            line-height: 70px;
            color: v.$gold_light;
            font-family: 'Domine', sans-serif;
            font-weight: 400;
            margin: 0;
            opacity: .5;
        }
    }
    &__realizations{
        display: flex;
        align-items: center;
        justify-content: center;

        .realization{
            width: 215px;
            height: 160px;
            background-color: #fff;
            margin-right: 15px;

            &:last-of-type{
                margin-right: 0;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
@media (max-width: 991px){
    .lastRealizations{
        &__wrap{
            flex-direction: column;
            top: -50px;
            padding-bottom: 10px;

            .btn{
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -70px;
            }
        }
        &__content{
            max-width: 100%;
            margin: 0 0 20px;

            h2{
                text-align: center;
            }
        }
        &__realizations{
            width: 100%;
        }
    }
}
@media (max-width: 575px){
    .lastRealizations{
        &__wrap{
            top: -25px;

            .btn{
                bottom: -50px;
            }
        }
        &__content{
            h2{
                font-size: 40px;
                line-height: 50px;
            }
        }
        &__realizations{
            flex-direction: column;

            .realization{
                width: 100%;
                max-width: 300px;
                height: 190px;
                margin: 0 0 20px !important;

                &:last-of-type{
                    margin: 0 !important;
                }
            }
        }
    }
}