@use '../global/variables' as v;

.careerMain{
    padding: 60px 0;

    &__wrap{
        display: flex;
        justify-content: space-between;
        margin: 120px auto;
    }
    &__sidebar{
        width: 100%;
        max-width: 300px;
        margin-right: 80px;

        .content{
            position: sticky;
            top: 40px;

            h2{
                font-size: 36px;
                line-height: 40px;
                font-weight: 400;
                font-family: 'Portrait', sans-serif;
                color: v.$gold_light;
                text-align: left;
                margin: 0 0 20px;
                text-transform: uppercase;
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    display: block;
                    margin: 0 0 8px;
                    font-size: 18px;
                    line-height: 24px;
                    color: v.$fontblack;
                    text-align: left;
                    cursor: pointer;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }
    &__content{
        width: 100%;
        max-width: calc(100% - 380px);

        .info{
            margin: 30px 0 50px;

            h2{
                font-size: 48px;
                line-height: 54px;
                font-weight: 400;
                font-family: 'Portrait', sans-serif;
                color: v.$fontblack;
                text-align: left;
                margin: 0 0 35px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                color: #484848;
                margin: 0;
                text-align: left;
            }
        }
        .steps{
            &__step{
                display: block;
                width: 100%;
                margin: 0 0 70px;

                &:last-of-type{
                    margin: 0;
                }

                h3{
                    display: block;
                    font-size: 40px;
                    line-height: 50px;
                    font-weight: 400;
                    font-family: 'Portrait', sans-serif;
                    color: v.$fontblack;
                    margin: 0 0 15px;
                    text-transform: uppercase;

                    span{
                        font-size: 60px;
                        color: v.$gold_light;
                        margin-right: 10px;
                        position: relative;
                        bottom: -1px;
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                    color: v.$fontblack;
                    margin: 0 0 15px;

                    b{
                        font-weight: 500;
                    }

                    &:last-of-type{
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 1249px){
    .careerMain{
        &__sidebar{
            max-width: 270px;
            margin-right: 40px;
        }
        &__content{
            max-width: calc(100% - 310px);
        }
    }
}
@media (max-width: 991px){
    .careerMain{
        padding: 40px 0;

        &__wrap{
            flex-direction: column;
            margin: 60px auto;
        }
        &__sidebar{
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
        &__content{
            max-width: 100%;
        }
    }
}
@media (max-width: 575px){
    .careerMain{
        &__sidebar{
            .content{
                h2{
                    font-size: 21px;
                    line-height: 30px;
                    margin: 0 0 15px;
                }
                ul{
                    li{
                        font-size: 16px;
                        line-height: 21px;
                    }
                }
            }
        }
        &__content{
            .info{
                h2{
                    font-size: 30px;
                    line-height: 40px;
                    margin: 0 0 20px;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .steps{
                &__step{
                    .heading{
                        h3{
                            font-size: 24px;
                            line-height: 30px;

                            span{
                                font-size: 40px;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}