@use '../global/variables' as v;

.referenceMain{
    padding: 60px 0 140px;

    &__list{
        .reference{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 90px 0;
            position: relative;

            &:after{
                content: '';
                width: 100%;
                height: 1px;
                @include v.gold_line;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &:last-of-type{
                &:after{
                    display: none;
                }
            }

            &__logo{
                max-width: 450px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 30px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__content{
                max-width: calc(100% - 480px);

                p{
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                    font-family: 'Domine', sans-serif;
                    margin: 0 0 10px;
                    text-align: right;

                    &:not(.author){
                        position: relative;

                        &:before,
                        &:after{
                            font-size: 24px;
                            color: v.$gold_light;
                        }

                        &:before{
                            content: '„';
                        }
                        &:after{
                            content: '”';
                        }
                    }
                    &.author{
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                        color: v.$gold_light;
                        font-weight: 500;
                        letter-spacing: 4px;
                        padding-left: 45px;
                        position: relative;
                        max-width: fit-content;
                        max-width: -moz-max-content;
                        max-width: -webkit-fit-content;
                        margin-top: 30px;
                        margin-right: 0;
                        margin-left: auto;

                        &:before{
                            content: '';
                            height: 1px;
                            width: 30px;
                            background-color: v.$gold_light;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(0, -50%);
                        }
                    }
                }
            }

            &--reverse{
                flex-direction: row-reverse;

                .reference__logo{
                    margin-right: 0;
                    margin-left: 30px;
                }
                .reference__content{
                    p{
                        text-align: left;

                        &.author{
                            margin-right: auto;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}