@use '../global/variables' as v;

.footerContact{
    padding: 55px 0 100px;
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;

    &__heading{
        p{
            &.lead{
                font-size: 17px;
                line-height: 21px;
                font-weight: 500;
                color: v.$gold_light;
                margin: 0 0 20px;
                letter-spacing: 8px;  
                text-transform: uppercase;    
                text-align: center;          
            }
        }
        h2{
            font-size: 70px;
            line-height: 74px;
            font-family: 'Portrait', sans-serif;
            font-weight: 300;
            color: v.$fontblack;
            margin: 0 0 20px;
            text-align: center;
        }
    }
}
.contactForm{
    transition: ease .5s;
    opacity: 1;

    &.loading{
        opacity: .5;
    }
    &__alert{
        display: none;
        background-color: #9ec693;
        border-radius: 5px;
        padding: 5px 10px;
        text-align: center;
        margin: 0 0 30px;

        p{
            font-size: 14px;
            line-height: 19px;
            color: #fff;
            text-align: center;
            margin: 0;
        }
        &--visible{
            display: block;
        }
        &--error{
            background-color: #d84d4d;
        }
    }
    &__row{
        margin: 0 0 35px;

        &--half{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .contactForm__field{
                width: 100%;
                max-width: 485px;
                margin: 0 10px;

                &:first-of-type{
                    margin-left: 0;
                }
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }

    &__field{
        position: relative;

        &.input-error{
            &:after{
                display: block;
            }
            input:not([type="file"]),
            textarea{
                border-bottom-color: #d84d4d;

                &::placeholder{
                    color: #d84d4d;
                }
            }
        }
        &:after{
            content: attr(error-msg);
            font-size: 11px;
            color: #d84d4d;
            font-weight: 500;
            line-height: 1;
            position: absolute;
            left: 0;
            bottom: -17px;
            display: none;
        }
        input:not([type="file"]),
        textarea{
            width: 100%;
            height: 45px;
            border: 0;
            border-bottom: 1px solid v.$gold;
            border-radius: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 500;
            color: #000;
            background-color: transparent;
            outline: none;
            resize: none;
            transition: ease .3s;

            &:focus{
                border-bottom-color: #000;
            }

            &::placeholder{
                color: v.$gold;
            }
        }
        input[type="file"]{
            display: none;
        }
        .uploadFile{
            display: flex;
            margin: 20px 0;
            cursor: pointer;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }

            p{
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                color: v.$fontblack;
                margin: 0;
                text-align: left;
            }
        }
    }

    &__submit{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__acceptance{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        max-width: 720px;

        &:after{
            content: attr(error-msg);
            font-size: 11px;
            color: #d84d4d;
            font-weight: 500;
            line-height: 1;
            position: absolute;
            left: 0;
            bottom: -17px;
            display: none;
        }

        &.checked{
            .input{
                &:before{
                    opacity: 1;
                }
            }
        }

        &.input-error{
            &:after{
                display: block;
            }
            .input{
                border: 1px solid #d84d4d;
            }
        }

        .input{
            width: 16px;
            height: 16px;
            position: relative;
            margin-right: 10px;
            background-color: #e4e4e4;
            border-radius: 3px;

            &:before{
                content: '';
                width: 5px;
                height: 10px;
                border-right: 1px solid v.$gold;
                border-bottom: 1px solid v.$gold;
                position: absolute;
                top: 42%;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translate(0, -50%) rotate(45deg);
                opacity: 0;
            }
        }
        label{
            max-width: calc(100% - 26px);
            font-size: 12px;
            line-height: 18px;
            color: #484848;
            margin: 0;
            text-align: left;
            float: left;

            a{
                color: #484848;
                text-decoration: underline !important;
                position: relative;
                z-index: 3;

                &:hover{
                    opacity: .7;
                }
            }
        }
        input{
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            opacity: 0;
            outline: none;
            cursor: pointer;
        }
    }
}
@media (max-width: 991px){
    .footerContact{
        &__heading{
            p{
                &.lead{
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 6px;
                }
            }
            h2{
                font-size: 40px;
                line-height: 52px;
            }
        }
    }
}
@media (max-width: 575px){
    .footerContact{
        &__heading{
            p{
                &.lead{
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: 5px;
                    margin: 0 0 15px;
                }
            }
            h2{
                font-size: 40px;
                line-height: 52px;
            }
        }
    }
}
@media (max-width: 575px){
    .contactForm{
        &__row{
            &--half{
                flex-direction: column;

                .contactForm__field{
                    max-width: 100%;
                    margin: 0 !important;

                    &:first-of-type{
                        margin: 0 0 30px !important;
                    }
                }
            }
        }
        &__submit{
            flex-direction: column;
        }
        &__acceptance{
            max-width: 100%;
            margin: 0 0 30px;
        }
    }
}