@use '../global/variables' as v;

body{
    &.page-template-page_home{
        .siteHeader{
            &__logo{
                align-items: flex-end;
            }
        }
    }
}

.siteHeader{
    min-height: 110px;

    &__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: inherit;
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 125px;
        min-height: inherit;

        a{
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }

            img{
                display: block;
                width: 100%;
            }
        }
    }
    &__nav{
        max-width: 825px;
        width: 100%;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            li{
                a{
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 500;
                    color: v.$fontblack;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    padding: 0 12px 5px;
                    position: relative;

                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: v.$gold;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                        z-index: 1;
                    }

                    &:hover{
                        color: v.$fontblack + ba;

                        &:after{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }
                }

                &.current-menu-item{
                    a{
                        &:after{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1249px){
    .siteHeader{
        &__logo{
            align-items: center !important;
            max-width: 95px;

            a{
                padding-top: 15px;
            }
        }
        &__nav{
            max-width: 680px;
        }
    }
}
@media (max-width: 991px){
    .siteHeader{
        &__nav{
            ul{
                display: none;
            }
        }
    }
}